body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-left: 20px;
}

main {
    background-color: lightgreen;
}

p {
    font-size: 12px;
}

footer {
    background-color: lightcoral;
    margin: 0;
    padding: 0;
}